.wrapper{
    width: 100vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  header, main {
    flex: 1;
  }

  .star-rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  .info {
    padding: 20px;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); //Sombra

  }

  mat-accordion {
    width: 80%;
    margin: 20px auto;
  }
  
  mat-expansion-panel {
    margin-bottom: 10px;
  }

  .video-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .video-info {
    display: flex;
    align-items: center;
  }
  
  .video-info mat-icon {
    margin-right: 8px;
  }
  
  .video-duration {
    font-size: 12pt;
    color: #888;

  }
  

  .header-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .container{
    max-width: 90vw;
    overflow: hidden; /* Para evitar que los bordes redondeados se corten */
  }

  .nombCurso{
    font-size: 30pt;
    font-family: Nexa;
    font-weight: bold;
    color: #000000;
  }

  .categoria {
    font-size: 20px; /* Tamaño de fuente más grande para resaltar */
    font-weight: bold; /* Negrita para resaltar */
    color: #007bff; /* Color azul para destacar */
    margin-bottom: 10px; /* Margen inferior para separar los elementos */
  }
  

  p, li {
    font-size: 15px; /* Tamaño de fuente más comúnmente utilizado */
    font-family: 'Arial', sans-serif; /* Fuente sans-serif para mejor legibilidad en pantalla */
    color: #333333; /* Gris oscuro para menor contraste y comodidad visual */
    letter-spacing: 0.5px; /* Espaciado de letras más ajustado */
    line-height: 1.6; /* Mejor interlineado para legibilidad */
    margin-bottom: 16px; /* Margen inferior para separar los párrafos y listas */
    text-align: justify;
  }

  span{
    font-size: 15px; /* Tamaño de fuente más comúnmente utilizado */
    font-family: 'Arial', sans-serif; /* Fuente sans-serif para mejor legibilidad en pantalla */
    color: #333333; /* Gris oscuro para menor contraste y comodidad visual */
    letter-spacing: 0.5px; /* Espaciado de letras más ajustado */
    line-height: 1.6; /* Mejor interlineado para legibilidad */
  }

  .calif{
    font-weight: bold;
    color: blue;
    text-decoration: underline blue; /* Subrayado rojo */
  }

  mat-panel-title {
    font-size: 15px; /* Tamaño de fuente más grande para resaltar */
    font-family:'Arial', sans-serif;
  }

  @media (max-width: 768px) {
    .col-8, .col-4 {
      width: 100%;
      padding: 0;
    }
    
    .col-4 {
      margin-top: 20px;
    }
  }