<div class="wrapper">
    <div class="row mb-4 header-home">
      <app-navbar></app-navbar>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-8 mb-4">
          <p class="cat mb-5">Programación</p>
          <p class="nombCurso mb-5">Fundamentos de Python</p>
          <p>Este curso introductorio está diseñado para quienes desean aprender Python desde cero. A lo largo de las lecciones, los estudiantes adquirirán una sólida comprensión de los conceptos básicos de programación en Python, incluyendo variables, tipos de datos, estructuras de control, funciones y manejo de archivos. Además, explorarán conceptos esenciales como listas, diccionarios y bucles. Al finalizar, los participantes estarán equipados para desarrollar programas simples y estarán preparados para avanzar hacia temas más complejos en Python.</p>

          <ngx-stars [size]="30" [initialStars]="4.6"></ngx-stars>
          <p>(1203 calificaciones)</p>

          <p class="col-8">Contenido del curso:</p>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Introducción a Python y Conceptos Básicos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Instalación y configuración del entorno Python.</span>
                </div>
                <span class="video-duration">4:20</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Sintaxis básica de Python.</span>
                </div>
                <span class="video-duration">8:30</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Variables y tipos de datos.</span>
                </div>
                <span class="video-duration">12:30</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Operadores y expresiones.</span>
                </div>
                <span class="video-duration">13:17</span>
              </div>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Estructuras de Control y Funciones
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Condicionales (if, elif, else).</span>
                </div>
                <span class="video-duration">21:40</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Bucles (for, while).</span>
                </div>
                <span class="video-duration">18:34</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Definición y uso de funciones.</span>
                </div>
                <span class="video-duration">11:17</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Alcance de variables y paso de argumentos.</span>
                </div>
                <span class="video-duration">19:20</span>
              </div>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Estructuras de Datos en Python
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Listas y tuplas.</span>
                </div>
                <span class="video-duration">10:34</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Diccionarios y conjuntos.</span>
                </div>
                <span class="video-duration">16:56</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Métodos y operaciones en estructuras de datos.</span>
                </div>
                <span class="video-duration">11:57</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Comprensiones de listas y diccionarios.</span>
                </div>
                <span class="video-duration">13:20</span>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Manejo de Archivos y Excepciones                
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Lectura y escritura de archivos.</span>
                </div>
                <span class="video-duration">8:23</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Manejo de excepciones y errores.</span>
                </div>
                <span class="video-duration">12:56</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Uso de módulos y bibliotecas estándar.</span>
                </div>
                <span class="video-duration">5:57</span>
              </div>
              <div class="video-item">
                <div class="video-info">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span>Proyectos prácticos y aplicaciones del mundo real.</span>
                </div>
                <span class="video-duration">8:20</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="col-4">
          <div class="info">
            <img src="../assets/img/python.jpg" alt="Imagen del curso" class="img-fluid align-self-start">
            <p>En este curso desarrollarás</p>
            <ul>
              <li>Conocimientos básicos de programación en Python</li>
              <li>Comprensión de variables, tipos de datos y estructuras de control</li>
              <li>Manejo de archivos y funciones</li>
              <li>Exploración de listas, diccionarios y bucles</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <app-footer></app-footer>
    </footer>
</div>