<div class="wrapper">
    <div class="row mb-4 header-home">
      <app-navbar></app-navbar>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-8">
          <p class="cat mb-5">Programación</p>
          <p class="nombCurso mb-5">Fundamentos de Python</p>
          <p>Este curso introductorio está diseñado para quienes desean aprender Python desde cero. A lo largo de las lecciones, los estudiantes adquirirán una sólida comprensión de los conceptos básicos de programación en Python, incluyendo variables, tipos de datos, estructuras de control, funciones y manejo de archivos. Además, explorarán conceptos esenciales como listas, diccionarios y bucles. Al finalizar, los participantes estarán equipados para desarrollar programas simples y estarán preparados para avanzar hacia temas más complejos en Python.</p>

          <ngx-stars [size]="30" [initialStars]="4.6"></ngx-stars>
          <p class="mt-2">Calificación: 1200</p>
          <p class="col-8">Contenido del curso:</p>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sección 1
                </mat-panel-title>
                <mat-panel-description>
                  Descripción de la sección 1
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Contenido de la sección 1.</p>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sección 2
                </mat-panel-title>
                <mat-panel-description>
                  Descripción de la sección 2
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Contenido de la sección 2.</p>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sección 3
                </mat-panel-title>
                <mat-panel-description>
                  Descripción de la sección 3
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Contenido de la sección 3.</p>
            </mat-expansion-panel>
          </mat-accordion>
  
        </div>

        <div class="col-4">
          <div class="info">
            <img src="../assets/img/python.jpg" alt="Imagen del curso" class="img-fluid align-self-start">
            <p>ol</p>
          </div>
        </div>
      </div>
    </div>

</div>